$disabled-led-background-color: #ccc;

.led {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $disabled-led-background-color;
  margin: 3px 0;
  display: block;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  /* transition: background-color 0.3s; */
}

@keyframes led-blink--dim-1 {
  0%, 50% {
    background-color: $disabled-led-background-color;
  }
  50.1%, 100% {
    background-color: #4F6AF5;
  }
}

@keyframes led-blink--dim-2 {
  0%, 50% {
    background-color: $disabled-led-background-color;
    box-shadow:
        //inset 0 0 5px rgba(0, 0, 0, 0.2),
        //0 0 15px #4F6AF5 !important;
        0 0 15px transparent;
  }
  50.1%, 100% {
    background-color: #4F6AF5;
    box-shadow:
        //inset 0 0 5px rgba(0, 0, 0, 0.2),
        0 0 15px #4F6AF5;
  }
}
